head { font-size: 10px; font-family: "Open Sans", sans-
serif; }
 body {
  background: rgb(114, 194, 118)
}
h1 {
  text-align: center;
}
.OCapitalismo {
  position: absolute;
  width: 100%;
  height: 45px;
  background: rgb(32, 85, 69);
  top: 0;
  left: 0;
}
	
.problema {
   position: absolute;
   background: rgb(220, 238, 118);
   width: 200px;
   height: 200px;
   color: #FFFFFF;
   right: 500px;
   top: 200px;
}
.osinteressados  {
   position: absolute;
   background: rgb(160, 94, 221);
   width: 200px;
   height: 200px;
   color: #000000;
   padding-bottom: 705px;
   top: 200px;
}

.Propostas {
  position: absolute;
  width: 100%;
  height: 45px;
  background: rgb(32, 85, 69);
  top: 0;
  left: 0;
	}
.#Capital01.png {
 width: 30%;
 height: 15px;
top: 10;
left:0,
}

.#desigualdade-social.jpg {
width: %;
height: px;
top: 0;
bottom-padding: 0;
}
.#gp.jpg {
width: %;
height: px;
top: 0;
bottom-padding: 0;
}
.#md.jpg {
width: %;
height: px;
top: 0;
bottom-padding: 0;
}
.#transferir.jpg {
width: %;
height: px;
top: 0;
bottom-padding: 0;
}
.#transferir2.jpg





