:root{
--cor-pagina: #F2E7DC;
--cor-fonte: #0D0D0D;
--cor-titulo: #027373; 
--cor-subtitulo: #038C7F;
}

*{
  margin:0;
  padding: 0;
}

.texto{
  font-family: 'Nanum Gothic', sans-serif;
  color: #0D0D0D;
  text-align: center;
  font-size: 22px;
}
  
  .titulos{
    color: #027373;
    text-align: center;
    font-family: 'Anton', sans-serif;
  }
 .subtitulos{
  color: #038C7F;
  font-size: 27px;
  font-family: 'Be Vietnam Pro', sans-serif;
 }
 body{
  background-color: #F2E7DC;
 }
 .link{
  font-size: 20px;
  display: flex;
  align-items: end;
 }
.transferir.jpg {
align-content: center;

}
